.transaction-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 50px;
  align-items: center;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: var(--bg-color);
}

@media (max-width: 580px) {
  .transaction-item {
    grid-template-columns: 1fr 1fr 1fr 45px;
  }
}

.transaction-description {
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.transaction-date {
  text-align: right;
}

.transaction-amount {
  font-weight: bold;
  text-align: right;
}

.income .transaction-amount {
  color: var(--success-color);
}

.expense .transaction-amount {
  color: var(--error-color);
}

.transaction-delete-btn {
  text-align: end;
}

.delete-btn {
  background-color: var(--error-color);
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  padding: 5px 10px;
}

.delete-btn:hover {
  background-color: var(--error-color-hover);
}
