/* Variáveis de cores */
:root {
  --primary-color: #3f51b5;
  --income-color: #4caf50;
  --expense-color: #f44336;
  --balance-color: #2196f3;
  --bg-color: #f4f7f6;
  --card-bg: #ffffff;
  --text-color: #333;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
