/* Variáveis de cores */
:root {
  --bg-color: #212121;
  --card-bg: #2e2e2e;
  --border-color: #3f3f3f;

  --text-primary: #e0e0e0;
  --text-secondary: #a9a9a9;
  --text-black: #000000;

  --shadow-color: rgba(0, 0, 0, 0.3);

  --primary-color: #7c4dff;
  --primary-color-hover: rgba(124, 77, 255, 0.5);

  --success-color: #69f0ae;
  --success-color-hover: rgba(105, 240, 174, 0.5);

  --error-color: #ff5252;
  --error-color-hover: rgba(255, 82, 82, 0.5);
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-primary);
}

input,
select,
button {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  background-color: var(--card-bg);
  color: var(--text-primary);
}

input,
select {
  appearance: none;
}

select {
  padding: 10px 30px 10px 12px;
  background-image: url('./assets/arrowDown.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1) brightness(66.3%);
}

button {
  background-color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
}

button:hover {
  background-color: var(--primary-color-hover);
}
